@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "ADMINISTRACIÓN: Roles";
}

<div class="container">
    <div class="row col-md-offset-1 col-md-10">
        <h1 class="centrado">@ViewBag.Title</h1>
        <br />

        <p>
            @Html.ActionLink("Nuevo Rol", "Create")
        </p>
        <table class="table">
            <caption hidden>Administración de roles de usuario</caption>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.Name)*@
                    Nombre del rol
                </th>
                <th>
                    Opciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-1"></div>
</div>

